h1 {font-family:Oswald}
.styleguide {
    width:85%;
    max-width:1150px;
    display:block;
}

.stylesection {
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display:block;
    padding:20px;
    background-color: #fafcff;
    margin: 20px;
}

.sectioncontainer {
    display:grid;
    align-items:center;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
}

.sectionelement {
    width:100%;
    padding:10px;
}

.sectiontitle {
    margin-bottom:25px;
}